body {
    background-color: #E8ECEF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    justify-content: space-around;
    margin: 25vh auto;
  }
  .right {
    border: 2px solid yellow;
    }
    
  .left{
    border: 2px solid yellow;
  }
  .card{
	background: #f4f9f9;
	border: 1px solid #f4f9f9;
	align-items: center;
  margin: 10px auto;
  } 

    .registerbtn {
        background-color: #4CAF50;
        color: white;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
      }
      
      .registerbtn:hover {
        opacity: 1;
      }